<!--================Contact Area =================-->
<section class="contact_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="contact_info">
          <div class="info_item">
            <i class="ti-home"></i>
            <h6>2222 Đường Vĩnh Lộc </h6>
            <p>Vĩnh Lộc B, Huyện Bình Chánh, Tp. Hồ Chí Minh</p>
          </div>
          <div class="info_item">
            <i class="ti-headphone"></i>
            <h6><a href="#">097.2444.570</a></h6>
            <p>Mở cửa 7 ngày/tuần 8h-20h</p>
          </div>
          <div class="info_item">
            <i class="ti-email"></i>
            <h6><a href="#">giaydantuonghoangthach@gmail.com</a></h6>
            <p>Email chúng tôi thắc mắc của bạn vào bất kỳ lúc nào</p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <form [formGroup]="contactForm" (onsubmit)="send();" class="row contact_form">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name" formControlName="name"
                placeholder="Nhập tên"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Nhập tên'"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email" formControlName="email"
                placeholder="Nhập địa chỉ email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Nhập địa chỉ email'"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="subject"
                name="subject" formControlName="subject"
                placeholder="Nhập tiêu đề"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Nhập tiêu đề'"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                id="message"
                rows="1" formControlName="message"
                placeholder="Nhập nội dung"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Nhập nội dung'"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button type="submit" class="btn primary-btn">
              Gửi
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--================Contact Area =================-->
